<section data-ng-controller="VisitsController" data-ng-init="findOne()">
    <span>{{visit.created | date:'medium'}}</span>/
    <span>{{visit.user.name}}</span>
    <h2>{{visit.location}}</h2>
    <div data-ng-show="global.user._id == visit.user._id">
        <a class="btn" href="/#!/visits/{{visit._id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    <div>Stakes: {{visit.stakes}}</div>
    <div>Visit Type: {{visit.visitType}}</div>
    <div>Hours Played: {{visit.hoursPlayed}}</div>
    <div>Profit or Loss: {{visit.profitOrLoss}}</div>
    <div>Notes: {{visit.notes}}</div>
</section>
